<script src="https://cdn.socket.io/4.5.0/socket.io.min.js" integrity="sha384-7EyYLQZgWBi67fBtVxw60/OWl1kjsfrPFcaU0pp0nAh+i8FD068QogUvg85Ewy1k" crossorigin="anonymous"></script>

<h2 style="color:crimson;">Historial Live</h2>

    <div class="table-responsive">
        <table class="table table-dark">
            <tr style="color: yellow;"> <th>Title</th> <th>Price</th> <th>Thumbnail</th> </tr>
            <tr id="listaProductos"></tr>
        </table>
    </div>

<!--<script src="/main.js"></script>-->